
main {
  width: 100%;
  padding: 10px 20px;
}


.home-container {
  display: flex;
  min-height: 100vh;
}

.status {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
}


.table-body > td {
  width: 20rem;
  border-bottom: 1px solid var(--gray-50);
}

.table-body > td:last-child {
  padding-bottom: 10px;
}

.table-body > td h4 {
  font-family: "M PLUS 2", sans-serif;
  font-size: 0.8rem;
}

.table-body > td > span {
  color: var(--gray-font-200);
  font-size: .8em
}

.table-body .status-container {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 4rem;
}

.table-body .status-container > h4 {
  color: var(--gray-font-700);
}

.table-body > td > .priority {
    padding: 5px 30px;
    border-radius: 2rem;
    width: fit-content;
    border: 2px solid var(--gray-100);

    color: var(--gray-500);
    font-size: .8em;
    font-weight: bold;
}


.tooltip-container {
  position: relative;
  cursor: pointer;
}

.tooltip-bubble {
  visibility: visible;
  width: 200px;
  background-color: white;
  color: #677484;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  font-size: 14px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
  white-space: pre-wrap;
}

.tooltip-container:hover .tooltip-bubble {
  opacity: 1;
}

.tooltip-bubble::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}