nav {
    background-color: var(--white);
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: space-between;
  }
  
  nav h2 {
    margin: 30px 0 20px 0;
  
    color: var(--gray-font-logo);
    font-family: "M PLUS 2", sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 5rem;
    gap: 10px;
  
    list-style: none;
  }
  
  nav ul li {
    display: flex;
    gap: 5px;
  
    cursor: pointer;
  }