
main {
  width: 100%;
  padding: 10px 20px;
}


.home-container {
  display: flex;
}

.status {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
}

.interactions-history img {
  width: 10rem;
}

.close-call--btn {
  font-family: "M PLUS 2", sans-serif;
  padding: 0;
}
.content-button {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 3.5rem;
  list-style: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  border-radius: 5px;
  padding: 10px 20px;

  cursor: pointer;
}

.suggestion {
  display: flex;
}

.suggestion > span {
  font-style: italic;
  padding: 20px;
}

.suggestion-title {
  min-width: 13rem;
  align-items: center;
  gap: 10px;
  font-style: italic;
}

.header-online {
  font-size: 14px;
  font-weight: 200;
}

.chat-container {
  display: flex;
  position: relative;
  width: 20rem;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
}

.messages {
  height: 25rem;
  overflow-y: auto;
}

.messages::-webkit-scrollbar {
  width: 12px;
  border-radius: 2px;
}

.messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.messages::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.user {
  align-self: flex-end;
}

.message.system {
  align-self: flex-start;
}

.input-container {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.loading {
  position: absolute;
  bottom: 12%;
  right: 7%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.loading {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#6F6CF6 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}