@import '../../styles/global.scss';
/* .chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

/* .card-container .header {
  display: flex;
  justify-content: space-between;
} */

.chart-container .header > .percent-content {
  padding: 3px 10px;
  border: 1px solid var(--green);
}

/* .card-container .header > .percent-content span {
  color: var(--green);
  font-weight: 600;
  font-size: 0.75rem;
} */

/* .card-container .header span {
  font-size: 1rem;
  font-weight: 800;
  color: var(--gray-font-700);
} */

/* .card-container > span {
  font-size: 0.875;
  color: var(--gray-font-200);
} */

/* .chart-container .card-container {
  background: white;
  flex: 1;
  padding: 10px 20px;
  
  border-radius: 10px;
} */


.card-container .card-content > .recommendation {
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: var(--gray-500);
  font-size: 3rem;
  font-weight: bold;
}